@media screen and (max-width:930px) {
    .main-page-details-box .card {
        min-width: 455px;
        max-width: 455px;
    }
}

@media screen and (max-width:700px) {

    .allocation-box {
        margin: auto;
        width: 400px;
    }

    .room-selection-card.student-card {
        width: 100%;
    }
}

@media screen and (max-width:770px) {
    .main-page-details-box .card {
        min-width: 400px;
        max-width: 400px;
    }

    header h1 {
        font-size: 21px;
    }

    header {
        padding: 1rem;
    }

    header nav {
        flex-direction: column;
        height: 0;
        width: 0;
        overflow: hidden;
        transition: height 0.5s ease;
    }

    header nav button {
        width: 100%;
    }

    header button.signout-btn {
        height: 0;
        width: 0;
        overflow: hidden;
        border: none;
        transition: height 0.5s ease;
    }

    .menu-btn-box {
        width: 100%;
    }

    .menu-btn-box button {
        margin-left: auto;
        display: flex;

    }
}


@media screen and (max-width:550px) {
    .main-page-details-box .card {
        min-width: 400px;
        max-width: 400px;
    }
}

@media screen and (max-width:426px) {
    .main-page-details-box .card {
        min-width: auto;
        max-width: auto;
    }

    .main-page-details-box .card .card-item {
        gap: 10px;
    }
}