header{
    font-family: "Playfair Display", serif;
    padding: 0 1rem;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    /* box-shadow: 1px 1px 1px 1px rgba(171, 170, 170, 0.605); */
    margin: 0.6rem;
    height: 2.9375rem;
    border-radius: 1rem;
}
header .ham-btn{
    margin-right: 20px;
    padding: 0.4rem;
    border-radius: 5px;
}
header .ham-btn:hover{
    background-color: #8080806e;
}
header > svg{
    /* Menu btn */
    margin-block: 0.5rem;
}
header #brand{
    margin-right: auto;
    font-size: 23px;
    padding-block: 0.5rem;
    text-decoration: none;
    color: black;
}
header nav{
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;

}
header nav .link-box{
    position: relative;
    top: 3px;
    justify-content: baseline;
    display: flex;
    height: 30px;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
header nav .link-box svg{
    height: 100%;
    /* width: 25px; */
    display: flex;
    fill: rgba(128, 128, 128, 0.603);
    border-radius: 50%;
}
header nav a{
    color: grey;
    font-family: sans-serif;
}
header nav a.active{
    color: black;
}
header .notify-btn{
  --size:30px;
  height: var(--size);
  width: var(--size);
  display: flex;
  align-items: center;
  margin-left: 10px;
  fill:#525256;
  border-radius: 60%;
  border-style: none;
}
@media screen and (max-width:500px) {
    header h1{
        font-size: 21px;
    }

}