* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eef6fca4;
  font-family: "Lora", serif;
  letter-spacing: 0.6px;
}
div.display-none{
  display: none;
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  display: none;
  animation: fadeIn 0.5s;
  z-index: 3;
}

.notification.success { background-color: green; }
.notification.error { background-color: red; }

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.cover{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #808080b2;
}
.display-none{
    display: none;
}
.spinner {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid #4CAF50;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
