body{
  
  display: flex;
  /* font-family: sans-serif; */
  /* font-family: 'Courier New', Courier, monospace; */
  flex-direction: column;
}
.dashboard {
  align-self: center;
  /* align-items: center; */
  flex-direction: column;
  display: flex;
  background: white;
  width: 450px;
  max-width: 99%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Profile Section */
.profile .profile-icon{
  width: 80px;
  fill: rgb(191, 171, 219);
  height: 80px;
  border-radius: 50%;
  border: 3px solid #6a0dad;
}

.profile h2 {
  color: #6a0dad;
}

.profile p {
  color: #646262;
  font-size: 15px;
}

/* Progress Section */
.progress-section {
  margin: 15px 0;
  text-align: center;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #6a0dad;
}

.progress-bar {
  width: 100%;
  background: #e9d6ff;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: #6a0dad;
}

/* Stats */
.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 5px;
}

.stat-box {
  background: #e9d6ff;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
}

.stat-box p {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.stat-box span {
  font-size: 15px;

}

/* Room Details */
.room-details {
  text-align: left;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 15px;
}

.room-details h3 {
  color: #6a0dad;
  margin-bottom: 5px;
}

/* Action Buttons */
.actions button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.actions button:first-child {
  background: #6a0dad;
  color: white;
}

.actions button:last-child {
  background: #f4f4f4;
}
.actions button.logout:hover {
  background: #f09c9c;
}

/* Bottom Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.nav span {
  color: gray;
  font-size: 18px;
}

.roommates {
    margin-top: 20px;
}

.roommates h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.roommate-list {
    display: flex;
    gap: 15px;
}

.roommate {
    text-align: center;
    --size: 80px;
    width: var(--size);
    height: var(--size);
    margin-block: 5px;
}

.roommate svg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    fill: rgb(191, 171, 219);
  }
  
  .roommate p {
    margin-top: 5px;
    color: rgb(39, 37, 37);
    font-weight: bold;
    font-size: 15px;
}