body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: plum
    margin: 0;
    padding: 20px;
    text-align: center;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.signup-container h2 {
    margin-bottom: 10px;
}

.input-group {
    margin: 10px 0;
}

.input-group input, 
.input-group select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.signup-btn {
    /* width: 100%; */
    
    padding: 10px;
    background-color: var(--btn-bg);
    color: white;
    border: none;
    
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.signup-btn:hover {
    background-color: #333;
}

.login-text {
    text-align: center;
    margin-top: 10px;
}

a {
    color: rgb(51, 174, 53);
    /* font-weight: bold; */
    /* text-decoration: none; */
}

/* Profile Upload */
.profile-upload {
    text-align: center;
    margin-bottom: 15px;
}

.profile-label {
    display: block;
    cursor: pointer;
}

.profile-upload img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
    padding: 2px;
}

#profile-pic {
    display: none;
}

.profile-upload p {
    font-size: 12px;
    color: #ffffbfea
}
.signup-card {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.signup-container {
    background-color: whitesmoke
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(194, 194, 194, 0.8);
    /* width: 100%; */
    max-width: 400px;
    text-align: left;


    max-width: 99%;
  text-align: left;
  width: 300px;
}

h2 {
    margin: 0;
    font-size: 22px;
}

p {
    color: #ffffbfea;
}

form > *{margin-bottom: 15px;}
.input-group {
    display: flex;
    gap: 10px;
}
.input-group input{
    flex: 1;
}

input, select {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #d01bb5;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    outline: none;

}


.signup-text {
    text-align: center;
    margin-top: 10px;
}

@media screen and (max-width:350px) {
    .input-group{
        flex-direction: column;
    }

}