.form-page {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 100vh;
    /* margin: 0 auto; */
    /* width: 100%; */
    /* max-width: calc(98% - 20px); */
    padding: 0;
    flex-direction: column;
    padding-bottom: 10px;
    gap: 10px;
}

.form-box {
    margin: auto;
    background: #fdf4fd;
    padding: 25px 35px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.icon-circle {
    background: rgba(0, 123, 255, 0.1);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
}

.icon-circle img {
    width: 30px;
}

.form-page h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 13px;
    color: #6c757d;
    margin-bottom: 20px;
}

.form-page form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-page label {
    text-align: left;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;

}

.input-group {
    display: flex;
    align-items: center;
    background: #f1f3f5;
    border-radius: 5px 5px 0 0;
    padding: 8px 10px;
    border-bottom: 1px pink solid;
}

.input-group .icon {
    color: #6c757d;
    margin-right: 8px;
}

.input-group input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    font-size: 14px;
}

.signin-btn {
    /* background: #007bff; */
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
}



/* Signup Form */

.select-group {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.select-item {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.select-item label {
    margin-bottom: 5px;
}

.select-item select {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background: #f1f3f5;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.form-page .redirect {
    padding-block: 10px;
    font-size: 13px;
    text-align: center;
    width: 100%;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width:560px) {

.form-box {
    margin: 25px;
align-self:center;
}
}
