.profile-page.page {
    padding: 20px;
}

.profile-page .modal {
    z-index: 1;
    display: block;
}

.profile-page .modal.uploading-modal {
    display: flex;
    flex-direction: column;
    background-color: #242729eb;
    color: wheat;
}

.profile-page .modal.uploading-modal .spinner {
    position: static;
    margin-left: 50px;
}

.profile-page .confirm-pic-modal {
    display: flex;
}

.profile-page.page .confirm-box {
    background-color: #f9ecee;
    padding: 20px;
    border-radius: 10px;
}

.profile-page.page .confirm-box button {
    margin-top: 20px;
    margin-right: 20px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}

.profile-page.page .confirm-box button.ok {
    background-color: #4caf50;
}

.profile-page.page .confirm-box button.cancel {
    background-color: #f44336;
}

.profile-page.page .confirm-box button:hover {
    background-color: #3e8e41;
    cursor: pointer;
}

.profile-page.page .confirm-box button.cancel:hover {
    background-color: #d32f2f;
}

.profile-page.page section {
    margin-bottom: 30px;
}

.profile-page.page .caption {
    color: rgb(83, 83, 83);
}

.profile-page .main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.profile-page .main-content>section {
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #fab8f824;
}

.profile-page .student-details-box {
    align-items: center;
    max-width: 400px;
}

.profile-page .student-details-box .profile-img {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    background: #9826cd;
    border-radius: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 250%;
    color: white;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}

.profile-page .student-details-box .profile-img:has(svg):hover {
    background-color: rgba(73, 37, 100, 0.553);
}

.profile-page .student-details-box .profile-img img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-page .student-details-box .profile-img svg {
    --size: 50px;
    width: var(--size);
    height: var(--size);
    color: white;
}

.profile-page .student-details-box .profile-img.no-img::before {
    content: "";
    position: absolute;
    --size: 100%;
    width: var(--size);
    height: var(--size);
    background-color: rgba(76, 76, 76, 0.377);
    border-radius: 50%;
}

.profile-page .student-details-box .profile-img::after {
    content: "";
    position: absolute;
    --size: 15px;
    width: var(--size);
    height: var(--size);
    background-color: rgb(68, 212, 68);
    border-radius: 50%;
    bottom: 5px;
    left: 80%;
    transform: translateX(-50%);
}

.profile-page .student-details-box .name {
    font-size: 22px;
}

.profile-page .student-details-box .matric-no {
    margin-top: 5px;
    font-size: 14px;
}

.profile-page .email-level-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    align-content: center;

    align-self: flex-start;
}

.profile-page .email-level-box .email {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
}

.profile-page .email-level-box .email svg {
    color: rgb(94, 93, 93);
    --size: 16px;
    width: var(--size);
    height: var(--size);
}

.profile-page .email-level-box .level {
    font-weight: 600;
    border: 1px solid grey;
    width: max-content;
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 13px;
}

.profile-page .student-details-box hr {
    height: 5px;
    width: 100%;
    color: #9826cd;
    border-top: 1px solid grey;
    border-color: rgba(177, 177, 177, 0.407);

    margin-block: 15px;
}

.profile-page .student-details-box .status-txt {
    align-self: flex-start;

}

.profile-page .student-details-box h4.status-txt {
    font-weight: 400;
    font-size: 14px;
}

.profile-page .student-details-box p.status-txt {

    font-size: 13px;
    padding: 5px 10px;
    background: rgba(226, 167, 217, 0.44);
    border-radius: 8px;
    margin-top: 5px;
}

.profile-page .room-details {
    flex: 1;
    /* background: #000; */
}

.profile-page .room-details .room-header {
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.profile-page .room-details .room-header h3 {
    font-size: 22px;
}

.profile-page .room-details .header-cap {
    font-size: 14px;
}

.profile-page .tab-btns {
    background: rgba(185, 155, 181, 0.44);
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    margin-left: auto;
}

.profile-page .tab-btns button.active {
    color: black;
}

.profile-page .tab-btns button {
    color: grey;
    height: 30px;
    padding: 0 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
}

.profile-page .tab-btns button svg {
    --size: 18px;
    width: var(--size);
    height: var(--size);
}

.profile-page .name-floor-box {
    margin-block: 20px;
    display: flex;
    gap: 10px;
}

.profile-page .name-floor-box svg {
    --size: 42px;
    width: var(--size);
    height: var(--size);
    background-color: #f2b2ff;
    color: #6f0a9dbd;
    padding: 6px;
    border-radius: 8px;
}

.profile-page .name-floor-box .caption {
    margin-top: 3px;
    font-size: 14px;
}

.profile-page .occupants-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.profile-page .occupants-box .occupant {
    background: rgba(226, 167, 217, 0.44);
    flex: 1;
    min-width: 200px;
    border-radius: 10px;
    padding: 15px;
}

.profile-page .occupants-box .occupant h3 {
    font-weight: 500;
    font-size: 14px;

}

.profile-page .occupants-box .occupant p {
    font-weight: 600;
    margin-top: 10px;
}

.profile-page .amenities-box {
    margin-block: 20px;
}

.profile-page .amenities-box div {
    display: flex;
    gap: 10px;
    font-size: 14px;
}

.profile-page .amenities-box h3 {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
}

.profile-page .last-p {
    color: green;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    /* background: #000; */
}

.profile-page .last-p svg {
    --size: 18px;
    width: var(--size);
    height: var(--size);
}

/* No room box */
.profile-page .sub-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 5px;
    align-items: center;
}

.profile-page .sub-box .svg-box {
    --size: 70px;
    width: var(--size);
    height: var(--size);
    padding: 5px;
    display: flex;
    border-radius: 60%;
    background-color: #a383a93d;
}

.profile-page .sub-box svg {
    --size: 30px;
    width: var(--size);
    height: var(--size);
    color: #5c3a6cbd;
    margin: auto;
}

.profile-page .sub-box p.heading {
    font-size: 17px;
}

.profile-page .sub-box p.caption {
    font-size: 14px;
}

/* Second tab */

.profile-page .preference-tab {
    margin: auto;
    margin-top: 20px;
    width: 100%;
}

.profile-page .preference-tab .sub-box {
    align-items: flex-start;
    text-align: left;
}

.profile-page .room-status {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
    border-radius: 10px;

}

.profile-page .assigned-txt {
    color: rgb(79, 0, 128);
    background-color: rgb(220, 176, 248);
}

.profile-page .unassigned-txt {
    color: rgb(128, 124, 0);
    background-color: rgb(248, 224, 176);
}

.profile-page.page .logout-btn {
    /* width: 80px; */
    height: 35px;
    padding: 0 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid grey;
    color: #2d2c2c;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 15px;
    margin-top: 15px;

}

.profile-page.page .logout-btn:hover {
    background-color: #23232345;
    cursor: pointer;
}

/*
@media screen and (max-width:500px) {

    .history-page.page .heading{
        padding: 20px 20px;
        padding-bottom: 0;
        margin-bottom: 10px;

    }
    .history-page.page{
        padding: 20px;
    }
    .history-page .recent-votings .voting-stats-card{
        width: 100%;
    }
} */