.header {
    /* background: #000; */
    display: flex;
    /* justify-content: space-between; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding: 20px 40px;
    background: #ffffff;
    border-bottom: 1px solid #e5e7eb;
}

.header .brand {
    font-size: 24px;
    font-weight: 700;
    background-image: linear-gradient(to right, #1e3a8a, #3b82f6);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.not-signed-header .row {
    gap: 10px;
    align-items: center;
}

.not-signed-header a {
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.header a.btn {
    height: 40px;
    padding: 0 10px;

    display: flex;
    align-items: center;
}

.header .signup-btn {
    background-color: #1e3a8a;
    color: white;
}

.header .signup-btn:hover {
    background-color: #1e40af;
}

.header .login-btn {
    margin-left: auto;
    margin-right: 15px;
    border: 2px solid #1e3a8a;
    /* background-color: #f5f5f5; */
    color: #1e3a8a;
    font-weight: 600;
}

/* Logged In Header */
header{
    gap: 10px;
}
header .nav {
    padding: 0 10px;
    display: flex;
    gap: 8px;
    margin-left: auto;
}

header .nav a {
    font-size: 14px;
    height: 35px;
    display: flex;
    gap: 8px;
    text-decoration: none;
    color: #5e5e5e;
    align-items: center;
    border-radius: 10px;
    padding: 0 5px;
    justify-content: center;
}

header .nav a svg {
    --size: 20px;
    height: var(--size);
    width: var(--size);
}

header .nav a:hover {
    background-color: rgba(128, 128, 128, 0.345);
    cursor: pointer;
}
header .nav .notification-txt{
    display: none;
}

.header button {
    display: none;
    align-items: center;
    justify-content: center;
    --size: 35px;
    height: var(--size);
    width: 35px;
    border: none;
    background: transparent;
    border-radius: 8px;
    margin-left: auto;
}

.header button svg {
    --size: 20px;
    width: var(--size);
    height: var(--size);
}

.header button:hover {
    background-color: rgba(128, 128, 128, 0.345);
    cursor: pointer;
}




@media (max-width: 800px) {
    .sidebar {
        /* position: fixed; */
        /* left: -290px; */
        /* Start off-screen */
        /* top: 0; */
        /* Always show on larger screens */
    }

    header .heading {
        /* padding-left: 20px; */
        /* padding-block: 17px; */
    }
}


@media screen and (max-width:500px) {

    .header a.btn {
        font-size: 13px;

        height: 35px;
    }


    .header button {
        display: flex;
    }

    header .nav {
        margin: auto;
        /* display: none; */
    }
    header .nav .notification-txt{
        display: block;
    }
}